GEMINI_API_KEY=AIzaSyCcGZKZkbm3oQk3EpWBs5AG22C-cv2RPHE
GOOGLE_CREDENTIALS_PATH=credentials/scrapper-competitions-11e5f0b25da2.json
GOOGLE_CREDENTIALS_JSON=
SHEET_ID=14jJYhpdoDqQAYXzLequShRY4yaT1PQ_jTT6pjK4DV_E
SMTP_EMAIL=your@gmail.com
SMTP_PASSWORD=
NOTIFY_EMAILS=soma.charan@mastersunion.org,Hitesh.kalwani@mastersunion.org
